/* .App {
  text-align: center;
} */

.App-header {
  /* font-family: 'Black Ops One', cursive;
  font-size: 40px; */
  text-align: center;
  padding: 20px;
  /* color: #D23208; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#014c72+0,001b35+100 */
background: #014c72; /* Old browsers */
background: -moz-linear-gradient(top,  #014c72 0%, #001b35 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #014c72 0%,#001b35 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #014c72 0%,#001b35 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#014c72', endColorstr='#001b35',GradientType=0 ); /* IE6-9 */

}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
